<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    

    <!-- estilo para el mapa -->
    <style>
      #mi_mapa{
        height: 400px;
        width: 600px;
        margin: auto;
      }
      .mapa-localizacion{
        margin: auto;
        height: 500px;
        width: 630px;
        text-align: center;
        margin-left: 3px;
        background-color: #2d3039;
        border-radius: 8px;
      }
      .textos{
        color: aliceblue;
        font-style: oblique;
      }
      #direccion{
        margin-top: 16px;
        width: 600px;
        height: 50px;
        color: aliceblue;
        margin-left: 15px;
      }
      #vibracionChart {
        display: block;
        box-sizing: border-box;
        width: 630px;
        height: 500px;
        background-color: aliceblue;
         /* Esto centra el canvas horizontalmente margin: auto; */
      }

    </style>

    <title>Document</title>
</head>
<body style="background-color:#4d5462;">

  <nav class=" navbar navbar-expand navbar-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>



  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="textos">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3><%= data[data.length - 1].Latitud %></h3>

              <p>Latitud</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer"> Datos GPS <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3><%= data[data.length - 1].Longitud %><sup style="font-size: 20px"></sup></h3>

              <p>Longitud</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Datos GPS <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3><%= data[data.length - 1].Pitch %>°</h3>

              <p>Pitch</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">Giroscopio <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3><%= data[data.length - 1].Roll %>°</h3>

              <p>Roll</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">Giroscopio <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->


      <!-- ilustraciones -->

      <div class="ilustraciones">

        <section class="mapa-localizacion">

          <div>
  
            <h3 class="textos">Localizacion</h3>
            <div id="mi_mapa"></div>
            <div id="direccion"></div>
          </div>
  
        </section>
  
        <canvas id="vibracionChart"></canvas>

      </div>



      
      



        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>


  <!-- datos prueba -->

  <!-- <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Localización</div>
      <p class="text-gray-700 text-base">
        Latitud: <%= data[0].Latitud %> <br>
        Longitud: <%= data[0].Longitud %><br>
        Pitch: <%= data[0].Pitch %><br>
        Roll: <%= data[0].Roll %><br>
        Velocidad: <%= data[0].Velocidad %> km/h
      </p>
    </div>
  </div> -->


  

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>


  <!-- mapa -->
  <script>
    window.onload = function() {
      // Hacer una solicitud AJAX para obtener los datos de la primera API
      fetch('https://routerover3.onrender.com/ver')
        .then(response => response.json())
        .then(data => {
          // Obtener latitud y longitud de los datos obtenidos

          var latitud = data[data.length - 1].Latitud;
          var longitud = data[data.length - 1].Longitud;

          

          // Crear y configurar el mapa con los datos obtenidos
          let map = L.map('mi_mapa').setView([latitud, longitud], 16);

          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);

          L.marker([latitud, longitud]).addTo(map);

          // Realizar la segunda solicitud para obtener la dirección utilizando la función obtenerDireccion
          obtenerDireccion(latitud, longitud);
        })
        .catch(error => {
          console.error('Error al obtener los datos:', error);
        });
    };

    function obtenerDireccion(latitud, longitud) {

      // URL de la API de Nominatim para geolocalización inversa
      var url = `https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latitud}&lon=${longitud}`;

      // Realizar una solicitud GET a la API de Nominatim
      fetch(url)
          .then(response => response.json())
          .then(data => {
              // Extraer la dirección de la respuesta
              var direccion = data.display_name;
              // Mostrar la dirección en el elemento HTML correspondiente
              document.getElementById('direccion').innerText = direccion;
          })
          .catch(error => {
              console.error("Error al obtener la dirección: ", error);
          });
    }
  </script>

<script>
  // Obtener los últimos 5 registros de vibración
  fetch('https://routerover3.onrender.com/ver')
      .then(response => response.json())
      .then(data => {
          const ultimos5Registros = data.slice(-5);

          // Extraer fechas y valores de vibración
          const fechas = ultimos5Registros.map(registro => new Date(registro.Fecha).toLocaleString());
          const valoresVibracion = ultimos5Registros.map(registro => parseFloat(registro.Velocidad));

          // Crear la gráfica
          const ctx = document.getElementById('vibracionChart').getContext('2d');


          const vibracionChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: fechas,
                  datasets: [{
                      label: 'Vibración',
                      data: valoresVibracion,
                      borderColor: 'blue',
                      backgroundColor: 'white',
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
      })
      .catch(error => {
          console.error('Error al obtener los datos:', error);
      });
</script>



</body>


</html>